body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text);
    line-height: 1.0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    display: block;
}
.icon {
    display: inline-block;
    width: 20px;
    height: 44px;
    stroke-width: 0;
    fill: var(--social-icon-main);
  }
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/* секция HEADER */
.sec-header {
    border-bottom: 1px solid var(--header-border);
}
.header,
.header-nav,  
.header-nav-list, 
.header-nav-contacts {
    display: flex;
}
.header {
    justify-content: space-between;
    align-items: center;
 }
.emblem {
    color: var(--ad-hover-text); 
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.emblem-nav {
    color: var(--emblem-text);
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.header-nav > a {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-nav-list {
    align-items: center;
    margin-left: 93px;
}
.header-nav-list a {
    display: block;
    color: var(--main-text);
    font-size: 14px;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.header-nav-list li {
    margin-right: 50px;
}
.header-nav-contacts li {
    margin-left: 50px;
}
.header-nav-list .header-a-portfolio {
    color: var(--ad-hover-text);
}
.header-nav-contacts a {
    display: flex;
    color: var(--ad-main-text);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
}
.header a:hover, .header a:focus {
    color: var(--ad-hover-text);
    cursor: pointer;
}
.header-icon-text svg {
    display: flex;
}
.header-icon-text {
    display: flex;
    align-items: center;
}
.icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}
.icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}
/* --ЭФФЕКТИВНЫЕ РЕШЕНИЯ-- */

.ef-solutions {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--back-main-op40), var(--back-main-op40)), url(../images/main.jpg);
    max-width: 1600px;
    margin: 0 auto;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
.solutions {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.solutions h1 {
    color: var(--on-back-text);
    justify-content: center;
    text-align: center;
    margin: 0 0 30px 0;
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    line-height: 1.38;
}
.btn {
    background-color: var(--back-ad-hover);
    color: var(--on-back-text);
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.87;
    padding: 10px 32px;
    border-radius: 5px;
    border: none;
}
.btn:hover, .btn:focus {
    cursor: pointer;
}
/* секция НАШИ ПРЕИМУЩЕСТВА */
.sec-edge {
    padding: 94px 0;
}
.edge {
    display: flex;
    justify-content: space-between;
}
.edge li {
    width: 270px;
}
.edge h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: var(--main-text);
    margin: 0 0 10px 0;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.edge p {
    font-size: 14px;
    color: var(--ad-main-text);
    padding: 0;
    margin: 0;
    line-height: 1.8;
    letter-spacing: 0.03em;
}
.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronavt {
    width: 70px;
    height: 70px;
    fill: var(--main-text);
}
.edge-icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--back-ad-main);
    margin-bottom: 30px;
    height: 120px;
}
/* секция ЧЕМ МЫ ЗАНИМАЕМСЯ */
.we-doing {
    padding-bottom: 94px;
}
.we-doing h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--main-text);
    text-align: center;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 50px;
}
.we-doing-images {
    display: flex;
    justify-content: space-between;
}
.img {
    width: 370px;
}
/* секция НАША КОМАНДА */
.sec-team {
    background-color: var(--back-ad-main);
    padding-top: 94px;
    padding-bottom: 94px;
}
.sec-team h2 {
    color: var(--main-text);
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 50px;
}
.our-team {
    display: flex;
    justify-content: space-between;
}
.our-team h3 {
    color: var(--main-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin: 0 0 10px 0;
}
.our-team p {
    color: var(--ad-main-text);
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin: 0 0 16px 0;
}
.our-team > li {
    width: 270px;
    background-color: var(--back-team);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 0 0 4px 4px;
}
.team-card-text {
    text-align: center;
    padding: 30px 0 30px 0;
}
.social-icon {
    display: flex;
    justify-content: center;
}
.social-icon li {
    width: 44px;
    height: 44px;
    margin: 0 5px;
}
.social-icon li:hover {
    background-color: var(--back-ad-hover);
    border-radius: 50%;
    cursor: pointer;
}
.social-icon li:hover .icon-team {
    fill: var(--on-back-text);
}
.social-icon a {
    display: block;
    border-radius: 50%;
}
.social-icon a:focus svg {
    fill: var(--back-team);
}
.social-icon a:focus {
    background-color: var(--back-ad-hover);
    }
/* секция ПОСТОЯННЫЕ КЛИЕНТЫ */
.const-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.const-clients h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 1.18;
    margin: 0 0 50px 0;
}
.clients {
    display: flex;
    justify-content: space-between;
}
.client {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid var(--social-icon-main);
    border-radius: 4px;
}
.client-svg {
    display: flex;
    align-items: center;
}
.icon-yaco {
    width: 44px;
    height: 50px;
}
.icon-tagline {
    width: 40px;
    height: 52px;
}
.icon-company {
    width: 42px;
    height: 42px;
}
.icon-foster {
    width: 80px;
    height: 42px;
}
.icon-brand {
    width: 60px;
    height: 46px;

}
.icon-companytl {
    width: 88px;
    height: 46px;
}
.client:hover {
    border: 1px solid var(--back-ad-hover);
    cursor: pointer;
}
.client:hover .icon {
    fill: var(--back-ad-hover);
}
.client-svg:focus svg {
    fill: var(--back-ad-hover);
}
/* ПОРТФОЛИО */
.sec-view {
    padding: 94px 0 64px 0;
}
.sec-view li:hover, .sec-view li:focus {
    cursor: pointer;
}
.tools {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.tools li {
    margin: 0 8px 0 0;
}
.btns {
    background-color: var(--back-ad-main);
    color: var(--main-text);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.04em;
    padding: 6px 22px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btns:hover, .btns:focus    {
    background-color: var(--back-ad-hover);
    color: var(--on-back-text);
    box-shadow: 2px 4px 4px 2px var(--shadow-main);
}
.view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}
.view-card-text {
    padding: 20px 24px 20px 24px;
}
.view li {
    width: 370px;
    border: 1px solid var(--line-view);
    margin-bottom: 30px;
}
.view li:hover {
    box-shadow: 0 4px 8px 0 var(--shadow-main);
}
.view-a:focus {
    box-shadow: 0 4px 8px 0 var(--shadow-main);
}
.view h3 {
    color: var(--main-text);
    font-size: 18px;
    margin: 0 0 4px 0;
    line-height: 2.0;
}
.view p {
    color: var(--ad-main-text);
    line-height: 1.9;
    margin: 0;
}
/* секция FOOTER */
.footer {
    background-color: var(--back-main);
    padding: 60px 0;
    margin: 0;
}
.footer .container {
    display: flex;

}
.footer-em {
    margin: 0 70px 0 0;
    align-self: baseline;
}
.footer-em > a {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
    padding: 0;

}
.emblem-footer {
    color: var(--on-back-text);
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.footer-ad {
    color: var(--on-back-text);
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    margin: 20px 0 9px 0;
}
.footer-a {
    display: block;
    color: var(--ad-main-text);
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 9px 0;
}
.footer a:hover, .footer a:focus {
    color: var(--ad-hover-text);
    cursor: pointer;
}
.footer-join {
    color: var(--on-back-text);
    align-self: baseline;

}
.footer-join > p {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
}
.footer-social-icon-a {
    background-color: var(--social-icon-ad-main);
    border-radius: 50%;
}
.footer-join a {
    display: flex;
    justify-content: center;
}
.footer-join li {
    margin: 0 10px 0 0;
}
.footer-social-icon-a:hover, .footer-social-icon-a:focus {
    background-color: var(--back-ad-hover);
}
.icon-f {
    fill: var(--on-back-text);
}

